<h1>Connexion</h1>

<%= form_tag "/registration/login", method: :post do %>

  <input type="text" name="email" placeholder= 'Example@ex.com' />

  <input type="password" name="password" placeholder= 'password'/>

  <input type="submit" value="Se connecter" />

<% end %>