<h1>Liste des gossip</h1>

<% @gossi.each do |gossi| %>

  <h2><%= gossi.title %></h2>
  <h2><%= gossi.content %></h2>
  <h2><%= gossi.user.name %></h2>
  <a href="<%= gossip_path(gossi.id) %>" class="btn btn-primary">lire la suite</a>
<% end %>