<h1>Liste des livres</h1>

<% @gossi.each do |gossip| %>

  <h2><%= gossip.title %></h2>
  <h2><%= gossip.content %></h2>
  <h2><%= gossip.user.name %></h2>
  <a href="<%= gossip_path(gossip.id) %>" class="btn btn-primary">lire la suite</a>
<% end %>